<div class="container mat-typography">
  <!-- TOOLBAR START -->
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary" class="toolbar">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="" class="pointer">FH Angular</span>
    </div>
    
    <div>
      <button mat-icon-button matTooltip="Notificações"><mat-icon>notifications</mat-icon></button>
      <button fxHide.lt-md="true"  mat-icon-button matTooltip="Perfil"><mat-icon>account_circle</mat-icon></button>
    </div>
  </mat-toolbar>
  <!-- TOOLBAR END  -->

  <!-- SIDENAV START -->
  <mat-sidenav-container class="sidenav-container">

    <!-- CONTENT START -->
    <mat-sidenav-content>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div fxLayout="column" fxFlex="85" fxFlex.lt-md="100" fxLayoutGap="15px" class="padding">
          
          <!-- BOTOES START -->
          <mat-card>
            <h2>Relatório de Vendas</h2>
            <div fxLayout="row" fxLayoutAlign="center start">
              <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="start center"  fxLayoutGap="15px">
                <button mat-raised-button color="primary" (click)="print()">Show 1</button>
                <button mat-raised-button color="accent"  (click)="clear()">Clear</button>
                <button mat-raised-button color="warn"    (click)="print()">Show 2</button>
              </div>
            </div>
          </mat-card>
          <!-- BOTOES END -->

          <!-- RELATORIO START -->
          <div fxLayout="row" fxLayoutAlign="center start" *ngIf="pedidoList">
            <div fxFlex fxLayout="column" fxLayoutGap="15px">
              <h2>Relatório</h2>
              <mat-card fxFlex="100" *ngFor="let pedido of pedidoList">
                <div fxLayout="row" fxLayout.lt-md="column">
                  <div fxFlex="10" class="bold">Pedido: </div>
                  <div fxFlex>{{pedido.pedido}}</div>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column">
                  <div fxFlex="10" class="bold">Cliente: </div>
                  <div fxFlex>{{pedido.cliente}}</div>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column">
                  <div fxFlex="10" class="bold">CPF/CNPJ: </div>
                  <div fxFlex>{{pedido.cpf_cnpj}}</div>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column">
                  <div fxFlex="10" class="bold">Endereço: </div>
                  <div fxFlex>{{pedido.entrega}}</div>
                </div>

                <div fxHide.lt-md="true">
                  <div fxLayout="row">
                    <div fxFlex="100" class="bold">Itens </div>
                  </div>
                  <div fxLayout="row" class="bold">
                    <div fxFlex="20">Produto</div>
                    <div fxFlex="30">Descrição</div>
                    <div fxFlex="10">Qtd</div>
                    <div fxFlex="10">Unidade</div>
                    <div fxFlex="10">Preço (R$)</div>
                    <div fxFlex="20">Total (R$)</div>
                  </div>
                  <div fxLayout="row" *ngFor="let item of pedido.itemList">
                    <div fxFlex="20">{{item.produto}}</div>
                    <div fxFlex="30">{{item.descricao}}</div>
                    <div fxFlex="10">{{item.quantidade}}</div>
                    <div fxFlex="10">{{item.unidade}}</div>
                    <div fxFlex="10">{{item.preco}}</div>
                    <div fxFlex="20">{{item.total}}</div>
                  </div>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column">
                  <div fxFlex="10" class="bold">Total: </div>
                  <div fxFlex>R$ {{pedido.total}}</div>
                </div>

              </mat-card>              
            </div>
          </div>
          <!-- RELATORIO END -->

        </div>
      </div>      
    </mat-sidenav-content>
    <!-- CONTENT END -->
    
  </mat-sidenav-container>
  <!-- SIDENAV END -->

</div>